.lazyImg {
  margin: 0.8rem;
  cursor: pointer;
  position: relative;
}

.lazyImg:hover,
.lazyImg:focus {
  filter: brightness(70%);
}

.lazyImg img {
  width: 200px;
  height: 200px;
}

.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ccc;
  }
  100% {
    background-color: #fff;
  }
}

@media (max-width: 750px) {
  .lazyImg img {
    width: 125px;
    height: 125px;
  }

  .lazyImg {
    margin: 0.5rem;
  }
}

@media (max-width: 500px) {
  .lazyImg {
    margin: 0.25rem;
  }
}
