.bio {
  width: 100%;
  text-align: left;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem;
  box-sizing: border-box;
}
.bio small {
  font-style: italic;
}

.bio p {
  line-height: 1.6rem;
}

.icon {
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.4s ease;
}

.icon:hover {
  color: var(--tertiary-color);
}

.social {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
}

.social a {
  margin: 0;
  padding: 0;
}

.download {
  color: var(--primary-color);
  background: var(--tertiary-color);
  padding: 10px 15px !important;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.download:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.bio video {
  height: 50px;
}

@media (max-width: 500px) {
  .download {
    padding: 5px 10px !important;
  }
}

@media (max-width: 321px) {
  .social {
    flex-direction: column;
  }

  .social a {
    margin: 5px 0;
  }
}
