.artGallery {
  text-align: center;
  height: 100%;
  margin: 3rem;
}

.artGallery iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.icon {
  font-size: 5rem;
  margin: 2rem;
}

.icon:hover {
  color: var(--tertiary-color);
}
