.artGallery {
  text-align: center;
  /* height: 100%; */
  margin: 3rem;
}
.artGallery h1 {
  text-transform: uppercase;
}

.artGallery p {
  padding: 2rem 0;
  font-style: italic;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  font-size: 5rem;
  margin: 2rem;
}

.icon:hover {
  color: var(--tertiary-color);
}

@media (min-width: 950px) {
  .artGallery p {
    width: 50%;
  }
}
